#floatleft{
    width: 400px;
    padding: 10px;
    float: left;
}

#floatright{
    width: 400px;
    padding: 10px;
    float: right;
}

table, th, td {
    border: 1px #e8ffff solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 6px;
}

th {
    height: 30px;
}


#form label{
    display: block;
}

#form input{
    display: block;
    font-family: JetBrains Mono, Space Mono, monospace;
}

#form select{
    display: block;
    font-family: JetBrains Mono, Space Mono, monospace;
}
